* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
section {
  flex: 1;
}
ul {
  display: flex;
  gap: 20px;
}
li {
  list-style: none;
}
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
}
.header-logo {
  font-size: 24px;
}

.center-content {
  padding: 10px;
  flex-basis: 60vw;
  display: flex;
  justify-content: space-between;
}
.header-text,
.hero-img-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.hero-text {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}
.hero-p {
  font-weight: 300;
}
.hero-btn {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  margin-top: 20px;
  align-self: flex-start;
}
.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d8d8d;
  margin-top: 30px;
  height: 200px;
  width: 400px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.info-section > h2 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.info-bloc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 150px;
}
.info-bloc > p {
  text-align: center;
  font-weight: 200;
}
.blue-square {
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 20px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-container {
  margin-top: 100px;
  margin-bottom: 100px;
  flex-basis: 790px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.quote-main-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 200;
}
.quote-author {
  align-self: flex-end;
  font-weight: 900;
  color: #1f2937;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-blue {
  background-color: #3882f6;
  color: #e5e7eb;
}
